<!DOCTYPE html>
<html>
<head>
  <title>Xhive</title>
  <%= stylesheet_link_tag    "xhive/application", :media => "all" %>
  <%= javascript_include_tag "xhive/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
